QWidget#cart-container {
    background-color: #fff;
    border: 1px solid #ccc; 
    border-radius: 10px;
    padding: 15px;
}

QPushButton {
    background-color: #68d388;
    color: #333;
    padding: 10px 5px;
    font-size: 16px;
    border: none; 
    border-radius: 4px;
}

QPushButton:hover {
    background-color: #51a86b;
}

QLabel {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    border: none; /* Remove border from labels */
}

QListWidget {
    border: none; 
}

QListWidget::item {
    padding: 5px;
}
